* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /*! 1rem = 10px, 10px/16px = 62.5%*/
}

// body {
// 	display: grid;
// 	grid-template-columns: min-content 1fr;
// 	grid-auto-columns: min-content 1fr;
// 	grid-template-rows: repeat(5, 1fr);
// }

.container {
	display: grid;
	position: absolute;
	margin-left: 31vw;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto);
}

// .gridStart {
// 	grid-column-start: 2;
// }
