@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /*! 1rem = 10px, 10px/16px = 62.5%*/
	font-family: "Berkshire Swash", cursive;
}

h1,
h2,
h3 {
	text-decoration: underline;
}

// body {
// 	display: grid;
// 	grid-template-columns: min-content 1fr;
// 	grid-auto-columns: min-content 1fr;
// 	grid-template-rows: repeat(5, 1fr);
// }

.container {
	display: grid;
	position: absolute;
	margin-left: 26vw;
	grid-template-columns: 71vw;
	grid-template-rows: repeat(5, auto);
}

// modible media query

@media (max-width: 426px) {
	.container {
		margin-top: 40%;
		margin-left: 2vw;
		grid-template-columns: 97vw;
	}
}

// .gridStart {
// 	grid-column-start: 2;
// }
