.accessories {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	justify-items: center;
}

.productsList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
