.accessories {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	justify-items: center;
	margin: 4rem 0rem;

	&-title {
		font-size: 5rem;
		margin-bottom: 3rem;
	}

	&-summaryText {
		text-decoration: none;
		font-size: 2rem;
	}
}

.dogTreatsTitle {
	text-align: center;
	font-size: 5rem;
	margin: 0rem 0rem 7rem 0rem;
}

.productsList {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	column-gap: 4rem;
	row-gap: 7rem;
	margin-bottom: 5rem;
}

.forSale {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: auto;
	column-gap: 1rem;

	&-info {
		position: relative;
		height: 16rem;
		&_title,
		&_price {
			margin-bottom: 0.5rem;
			font-size: 2rem;
		}

		&_color {
			font-size: 1rem;
		}

		&-cover {
			display: flex;
			flex-direction: row;
			margin: 0.5rem 0rem;
		}

		&-Colour {
			background-color: red;
			border: 2px solid black;
			border-radius: 5rem;
			height: 2rem;
			width: 2rem;
			margin-right: 0.5rem;

			&_2 {
				background-color: blue;
				border: 2px solid black;
				border-radius: 5rem;
				height: 2rem;
				width: 2rem;
				margin-right: 0.5rem;
			}

			&_3 {
				background-color: grey;
				border: 2px solid black;
				border-radius: 5rem;
				height: 2rem;
				width: 2rem;
			}
		}

		&_button {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}

// mobile style

@media (max-width: 426px) {
	.productsList {
		margin: 0rem 2rem 6rem 2rem;
	}

	.accessories {
		text-align: center;
		margin: 4rem 1rem;
	}

	.dogTreatsTitle {
		margin: -1rem 0rem 6rem 0rem;
	}

	.forSale {
		&-img {
			margin-left: -2rem;
			width: 131%;
			height: 100%;
		}
		&-info {
			margin-right: 2rem;
		}
	}
}
