/* homepage */

.pageTop {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);

	&-img1 {
		height: 50vh;
		width: 50vw;
		background-size: 100% 120%;
		background-position: center;
		background-repeat: no-repeat;
		background-image: linear-gradient(
				to right bottom,
				rgba(20, 2, 2, 0.7),
				rgba(36, 6, 6, 0.7)
			),
			url(/dist/img/dogRelax.jpg);

		margin: 0rem auto;
		text-align: center;
		position: relative;
		margin-top: 2rem;

		// background-image: linear-gradient(
		// 		to right bottom,
		// 		rgba(20, 2, 2, 0.7),
		// 		rgba(36, 6, 6, 0.7)
		// 	),
		// 	url(img/trevi-1.jpg);
		// grid-row: 1;
		// display: flex;
		// flex-direction: column;
		// width: 80%;

		// background-size: 100% auto;
		// background-position: center;

		// height: 30rem;

		&_title {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 5rem;
			width: 100%;
			margin-bottom: 9rem;
			color: white;
		}

		&_services {
			position: absolute;
			bottom: 20px;
			left: 49%;
			transform: translate(-50%, -50%);

			& button {
				width: 130px;
				height: 40px;
			}
		}
	}

	&-summaryText {
		grid-row: 2;
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 9rem;
		margin: 3rem auto;
		justify-content: center;
		text-align: center;
		font-size: 2rem;
		text-decoration: none;
	}

	&-img2 {
		height: 30vh;
		width: 40vw;
		margin: 0rem auto;
		text-align: center;
		background-image: url(/dist/img/dogRunning.jpg);
		background-size: 100% 100%;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: 5rem;

		&_arrow {
			position: absolute;
			bottom: 5%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3rem;
		}
	}
}

.featured {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-template-rows: repeat(4, auto);
	margin: 0rem auto 5rem auto;

	&-title {
		grid-column: 1 / span 2;
		text-align: center;
		font-size: 5rem;
		margin-bottom: 2rem;
	}

	&-main {
		grid-row: 2 / span 3;
		background-color: rgb(242, 242, 250);
		text-align: center;
		font-size: 2rem;
		border: 2px solid black;
		border-right: 0;
		// display: flex;
		// flex-direction: column;
		// width: 30vw;

		// margin: 0rem auto;
		// text-align: center;

		// .photo {
		// 	grid-area: photo;
		// 	background: yellow;
		//   }

		&_title {
			margin: 1rem 0rem;
			font-size: 3rem;
		}

		&_img {
			object-fit: cover;
			width: 30vw;
			height: 60vh;
		}

		&_button {
			width: 50%;
			margin: 2rem 0rem;
			height: 4rem;
		}
	}

	&-link {
		background-color: rgb(242, 242, 250);
		border: 2px solid black;

		// display: flex;
		// flex-direction: row;
		// width: 10vw;
		// margin: 0rem auto;
		// height: 30vh;
		&_img {
			object-fit: cover;
			width: 30vw;
			// max-height: 40vh;
			height: 20vh;
		}

		&_title {
			font-size: 2rem;
			margin-bottom: 0.5rem;
		}

		&_text {
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}

		a {
			float: right;

			& .featured-main_button {
				width: 10vw;
				height: 5vh;
				margin: 3rem 0rem 0rem 0rem;
			}
		}
	}
}

/* screen size 1024px */
@media (max-width: 1024px) {
	.featured {
		margin: 0rem 2rem 5rem 2rem;
		&-main {
			&_img {
				width: 35vw;
			}
		}
	}
}

/* tablet style */

@media (max-width: 769px) {
	.pageTop {
		&-img1 {
			width: 94%;
			margin: 4rem 2rem 2rem 2rem;
			&_title {
				font-size: 7vw;
			}
		}

		&-summaryText {
			margin: 2rem auto 4rem auto;
			font-size: 3vw;
		}

		&-img2 {
			width: 80%;
		}
	}

	.featured {
		&-main {
			&_title {
				font-size: 4vw;
			}
		}

		&-link {
			&_title {
				font-size: 3vw;
			}
		}
	}
}

/* mobile style */

@media (max-width: 426px) {
	.pageTop {
		&-img1 {
			width: 94%;
			margin: 0rem 1rem;
			&_title {
				font-size: 11vw;
			}
		}

		&-summaryText {
			width: 94%;
			font-size: 4vw;
			text-decoration: none;
			margin-bottom: 3rem;
		}

		&-img2 {
			width: 88%;
			height: 33vh;
			margin: 0rem 2rem 4rem 2rem;
		}
	}

	.featured {
		margin: 0rem auto 5rem auto;
		&-title {
			font-size: 11vw;
		}

		&-main {
			grid-column: 1 / span 2;
			border: 2px solid black;
			width: 83vw;
			&_img {
				width: 82vw;
			}
		}

		&-link {
			grid-column: 2 / 3;
			width: 83vw;
			&_img {
				width: 82vw;
			}
		}
	}
}

@media (max-width: 376px) {
	.pageTop {
		&-summaryText {
			margin-top: -1rem;
		}
	}
}

@media (max-width: 321px) {
	.pageTop {
		&-summaryText {
			margin-top: -2rem;
		}
	}
}
