.pageTop {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);

	&-img1 {
		grid-row: 1;
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 0rem auto;
		text-align: center;
		background-image: url(/dist/img/dogRelax.jpg);
		background-size: 100% auto;
		background-position: center;
		background-repeat: no-repeat;
		height: 30rem;
		position: relative;
		margin-top: 2rem;

		&_title {
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_services {
			width: 20%;
			margin: 0rem auto;
			position: absolute;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&-summaryText {
		grid-row: 2;
		display: flex;
		flex-direction: column;
		width: 80%;
		height: 9rem;
		margin: 1rem auto;
		justify-content: center;
		text-align: center;
		font-size: 2rem;
	}

	&-img2 {
		grid-row: 3;
		display: flex;
		flex-direction: column;
		width: 60%;
		margin: 0rem auto;
		text-align: center;
		background-image: url(/dist/img/dogRunning.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		height: 30rem;
		position: relative;
		margin-bottom: 5rem;

		&_arrow {
			position: absolute;
			bottom: 5%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3rem;
		}
	}
}

.featured {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-template-rows: repeat(4, auto);
	margin: 0rem auto;

	&-title {
		grid-column: 1 / span 2;
		text-align: center;
	}

	&-main {
		grid-row: 2 / span 3;
		background: yellow;
		text-align: center;
		font-size: 2rem;
		// display: flex;
		// flex-direction: column;
		// width: 30vw;

		// margin: 0rem auto;
		// text-align: center;

		// .photo {
		// 	grid-area: photo;
		// 	background: yellow;
		//   }

		&_img {
			object-fit: cover;
			width: 30vw;
			height: 60vh;
		}

		&_button {
			width: 50%;
			margin: 0rem auto;
		}
	}

	&-link {
		background: red;

		// display: flex;
		// flex-direction: row;
		// width: 10vw;
		// margin: 0rem auto;
		// height: 30vh;
		&_img {
			object-fit: cover;
			width: 30vw;
			// max-height: 40vh;
			height: 20vh;
		}

		a {
			float: right;

			& .featured-main_button {
				width: 100%;
				height: 3rem;
				margin: 0rem auto;
				padding: 6px;
			}
		}
	}
}
