.servicesTitle {
	text-align: center;
	margin: 4rem 0rem 6rem 0rem;
	font-size: 5rem;
}

.products {
	display: grid;
	grid-template-columns: repeat(3, auto);
	column-gap: 2rem;
	row-gap: 5rem;
	margin-bottom: 20rem;
	margin-left: 3rem;

	&-service {
		color: black;
		position: relative;
		color: white;
		height: 37vh;
		width: 20vw;
		// &_imgBackground:hover {
		// 	border: 2rem yellow solid;
		// }

		&-inner {
			background: grey;
			opacity: 0.9;
			position: absolute;
			bottom: 0;
			// width: 30rem;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: repeat(3, auto);
			height: 17rem;
		}

		&_title {
			text-align: center;
			font-size: 1.5rem;
		}

		&_text {
			font-size: 1vw;
			padding: 0rem 1rem;
		}

		&_button {
			width: 10vw;
			height: 4vh;
			justify-self: end;
			margin-top: 1rem;
			color: white;
			// background-color: black;
			padding: 0.5rem;
			position: absolute;
			bottom: 0;
		}
	}

	&-imgBackground {
		background-image: url(/dist/img/dogGroom1.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground1 {
		background-image: url(/dist/img/dogGroom1.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground2 {
		background-image: url(/dist/img/dogGroom5.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground3 {
		background-image: url(/dist/img/dogShower.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground4 {
		background-image: url(/dist/img/dogGroom3.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground5 {
		background-image: url(/dist/img/puppyEyes.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground6 {
		background-image: url(/dist/img/smallDog.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}

	&-imgBackground7 {
		background-image: url(/dist/img/serviceIMG.jpg);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		// height: 34rem;
		// width: 30rem;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
			rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
			rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	}
}

@media (max-width: 1025px) {
	.products {
		&-service {
			&_text {
				font-size: 1.3vw;
			}
		}
	}
}
// tablet style

@media (max-width: 769px) {
	.products {
		grid-template-columns: repeat(2, auto);
		&-service {
			height: 30vw;
			width: 30vw;

			&-inner {
				height: 14rem;
			}

			&_text {
				font-size: 1.5vw;
			}

			&_button {
				width: 12vw;
			}
		}
	}
}

// mobile style

@media (max-width: 426px) {
	.servicesTitle {
		margin: 1rem 0rem 7rem 0rem;
		font-size: 11vw;
	}

	.products {
		margin: 0rem auto;
		grid-template-columns: auto;

		&-service {
			width: 80vw;
			height: 50vh;
			margin: 0rem auto;

			&-inner {
				width: 80vw;
				height: 18rem;
			}

			&_text {
				font-size: 4vw;
			}

			&_button {
				width: 33vw;
			}
		}

		&:last-of-type {
			margin-bottom: 10rem;
		}
	}
}
